@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;1,400;1,700&display=swap');
body{
    background-color: rgb(30, 50, 80);
    font-family: 'Gentium Book Basic', serif;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    color: #c1c1c1;
}

.stage{
    
}
.square{
    width: 100px;
    height: 100px;
    background-color: #eee;
    border : 1px solid #c1c1c1;
    display: inline-block;
    font-style: normal;
}
.square:hover {
    width: 120px;
    height: 120px;
    cursor:pointer;
}
 
 
.x{
    position: relative
}
.x:after{
    position: absolute;
    content: "\1F5D9";
    font-size: 50px;
    line-height: 100px;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    
}



.o{
    position: relative
}
.o:after{
    position: absolute;
    content:" \1F17E";
    font-size: 50px;
    
    line-height: 100px;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
}
